<div class="contenedor">
    <form>
        <fieldset>
          <legend>Adopción de mascotas</legend>
          <div class="row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre del adoptante</label>
            <div class="col-sm-10">
              <input type="nombre completo" class="form-control" id="exampleInputPassword1" placeholder="Nombre completo">

            </div>
          </div>
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Dirección del adoptante</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ciudad, colonia, número">
            <small id="emailHelp" class="form-text text-muted">Sin abreviaturas</small>
            </div> 
          <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Email del adoptante</label>
            <input type="Correo" class="form-control" id="exampleInputPassword1" placeholder="@example.com" autocomplete="off">
          </div>
          <div>
            
            <label for="exampleSelect1" class="form-label mt-4">Celular de contacto</label>
            <select type="Correo" class="form-select">
             
            </select>    

          </div>
          <div>
            <label for="formFile" class="form-label mt-4">Identificación</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <fieldset>
            <legend class="mt-4">Mascotas a adoptar</legend>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              <label class="form-check-label" for="optionsRadios1">
                Cachorros de edad pequeña
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              <label class="form-check-label" for="optionsRadios2">
                Cachorros de edad adulta
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
              <label class="form-check-label" for="optionsRadios3">
              </label>
            </div>
          </fieldset>
          <fieldset>
            <legend class="mt-4">Cuantas mascotas adoptará</legend>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Solo una
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
              <label class="form-check-label" for="flexCheckChecked">
                Dos
              </label>
            </div>
        
              
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      